<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.market.lemon.product.service.ProductMapper">

	<select id="productSelectListBuy"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info=#{productInfo} and
		product_category=#{productCategory} ORDER BY 8
		DESC
	</select>

	<select id="productSelectListSell"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info=#{productInfo} and
		product_category=#{productCategory}  ORDER BY 8
		DESC
	</select>



	<select id="productSelect"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT
		WHERE PRODUCT_ID = #{productId}
	</select>
	<insert id="productInsert"
		parameterType="co.market.lemon.product.service.ProductVO">
		INSERT INTO PRODUCT
		VALUES (product_seq.nextval,
		#{productCategory}, #{productInfo}, #{productWriter}, #{productTitle},
		#{productPrice}, #{productSubject}, SYSDATE, 0, '거래전', #{productImg}, #{productImgDir}, null )
	</insert>

	<update id="productUpdate"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT
		<set>
			<if test="productWriter != null">PRODUCT_WRITER = #{productWriter},</if>
			<if test="productTitle != null">PRODUCT_TITLE = #{productTitle},</if>
			<if test="productWdate != null">PRODUCT_WDATE = #{productWdate},</if>
			<if test="productPrice != null">PRODUCT_PRICE = #{productPrice},</if>
			<if test="productSubject != null">PRODUCT_SUBJECT = #{productSubject},</if>
			<if test="productState != null">PRODUCT_STATE = #{productState}</if>
		</set>
		WHERE PRODUCT_ID = #{productId}
	</update>

	<delete id="productDelete"
		parameterType="co.market.lemon.product.service.ProductVO">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>

	<update id="productHitUpdate"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT SET PRODUCT_VIEW = PRODUCT_VIEW + 1 WHERE
		PRODUCT_ID = #{productId}
	</update>
	
	<update id="productPullUp"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT SET PRODUCT_WDATE = SYSDATE
		WHERE PRODUCT_ID = #{productId}
	</update>
	

	<delete id="productNameDelete" parameterType="co.market.lemon.product.service.ProductVO">
		DELETE FROM PRODUCT
		WHERE PRODUCT_WRITER = #{productWriter}
	</delete>

	<select id="mainPageSearch" resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT
		WHERE PRODUCT_TITLE LIKE '%' || #{productTitle} || '%'
		ORDER BY 8 DESC
	
	</select>

	<update id="productSell"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT SET PRODUCT_BUYER = #{productBuyer}, PRODUCT_STATE = #{productState}
		WHERE PRODUCT_ID = #{productId}
	</update>
	
	<insert id="productReport"
		parameterType="co.market.lemon.product.service.ProductVO">
	INSERT INTO REPORT VALUES (report_seq.nextval, #{productId}, #{reportReporter}, #{reportSuspect},
							   #{reportContent}, #{reportCategory}, #{reportReason})
	</insert>
	

</mapper>