<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.market.lemon.product.service.ProductMapper">
	<select id="fashionproductSelectListBuy"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='삽니다' and
		product_category='패션' ORDER BY 8
		DESC
	</select>

	<select id="fashionproductSelectListSell"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='팝니다' and
		product_category='패션' ORDER BY 8
		DESC
	</select>

	<select id="livingproductSelectListBuy"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='삽니다' and
		product_category='리빙' ORDER BY 8
		DESC
	</select>

	<select id="livingproductSelectListSell"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='팝니다' and
		product_category='리빙' ORDER BY 8
		DESC
	</select>

	<select id="foodproductSelectListBuy"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='삽니다' and
		product_category='식품' ORDER BY 8
		DESC
	</select>

	<select id="foodproductSelectListSell"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='팝니다' and
		product_category='식품' ORDER BY 8
		DESC
	</select>

	<select id="guitarproductSelectListBuy"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='삽니다' and
		product_category='기타' ORDER BY 8
		DESC
	</select>
	
	<select id="productSelectListSell"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT where product_info='팝니다' and
		product_category='기타' ORDER BY 8
		DESC
	</select>

	<select id="productSelect"
		resultType="co.market.lemon.product.service.ProductVO">
		SELECT * FROM PRODUCT
		WHERE PRODUCT_ID = #{productId}
	</select>
	<insert id="productInsert"
		parameterType="co.market.lemon.product.service.ProductVO">
		INSERT INTO PRODUCT
		VALUES (product_seq.nextval,
		#{productCategory}, #{productInfo}, #{productWriter}, #{productTitle},
		#{productPrice}, #{productSubject}, SYSDATE, 0, '거래전', #{productImg}, #{productImgDir} )
	</insert>

	<update id="productUpdate"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT
		<set>
			<if test="productWriter != null">PRODUCT_WRITER = #{productWriter},</if>
			<if test="productTitle != null">PRODUCT_TITLE = #{productTitle},</if>
			<if test="productWdate != null">PRODUCT_WDATE = #{productWdate},</if>
			<if test="productPrice != null">PRODUCT_PRICE = #{productPrice},</if>
			<if test="productSubject != null">PRODUCT_SUBJECT = #{productSubject},</if>
			<if test="productState != null">PRODUCT_STATE = #{productState}</if>
		</set>
		WHERE PRODUCT_ID = #{productId}
	</update>

	<delete id="productDelete"
		parameterType="co.market.lemon.product.service.ProductVO">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>

	<update id="productHitUpdate"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT SET PRODUCT_VIEW = PRODUCT_VIEW + 1 WHERE
		PRODUCT_ID = #{productId}
	</update>
	
	<update id="productPullUp"
		parameterType="co.market.lemon.product.service.ProductVO">
		UPDATE PRODUCT SET PRODUCT_WDATE = SYSDATE
		WHERE PRODUCT_ID = #{productId}
	</update>
	
	

</mapper>