<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.market.lemon.adminpage.service.AdminReportMapper">


	<select id="reportSelectList"
		resultType="co.market.lemon.adminpage.service.AdminReportVO">

		SELECT * FROM REPORT
	</select>

	<select id="reportSelect"
		resultType="co.market.lemon.adminpage.service.AdminReportVO">
		SELECT * FROM REPORT
		WHERE REPORT_ID = #{reportId}
	</select>

	<delete id="reportDelete" parameterType="co.market.lemon.adminpage.service.AdminReportVO">
		DELETE FROM REPORT
		WHERE REPORT_ID = #{reportId}
	</delete>
	
	
	<delete id="reportAllDelete" parameterType="co.market.lemon.adminpage.service.AdminReportVO">
		DELETE FROM REPORT
		WHERE REPORT_SUSPECT = #{reportSuspect}
	</delete>
	
	
	
	<!-- 페이징 처리 관련 -->
	<select id="selectReportTotal" resultType="int">
	SELECT COUNT(*) total 
	FROM REPORT
	</select>
	
	
	<select id="selectmemberPageList" resultType="co.market.lemon.adminpage.service.AdminReportVO">
		<![CDATA[
		SELECT b.* FROM(
			SELECT rownum rn, a.* FROM (
				SELECT * 
					FROM report
					ORDER BY report_id ) a ) b
					
					WHERE rn >= #{startIndex} AND rn <= #{endIndex}
	]]>
	</select>

</mapper>