<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.market.lemon.notice.service.NoticeMapper">
	<select id="noticeSelectList"
		resultType="co.market.lemon.notice.service.NoticeVO">
		select * from notice  order by notice_id
	</select>
	<select id="noticeSelect" resultType="co.market.lemon.notice.service.NoticeVO">
		select * from notice where notice_id=#{noticeId}
	</select>
	
	<insert id="noticeInsert" parameterType="co.market.lemon.notice.service.NoticeVO">
		insert into notice(notice_id,notice_title,notice_subject,notice_wdate)   
		values((select NVL(Max(notice_Id),0)+1 from notice),#{noticeTitle},#{noticeSubject},SYSDATE)
	</insert>
	
	<update id="noticeUpdate" parameterType="co.market.lemon.notice.service.NoticeVO">
		update notice set notice_title=#{noticeTitle}, 
		notice_subject=#{noticeSubject} where notice_id=#{noticeId}
	</update>
	<delete id="noticeDelete" parameterType="co.market.lemon.notice.service.NoticeVO">
	delete from notice where notice_id=#{noticeId}
	</delete>
</mapper>